<app-navbar></app-navbar>
<div class="max-w-[93em] mx-auto mt-[130px] p-10 border bg-white border-gray-200 rounded-lg shadow-lg">
    <h1 class="text-3xl font-bold text-center mb-6">Welcome to the Dashboard</h1>
    <p class="text-center text-gray-600 mb-4">
        Agency management system
    </p>
    <div class="text-center">
        <button
                (click)="onLogout()"
                class="bg-red-500 text-white py-2 px-6 rounded-md hover:bg-red-600"
        >
            Logout
        </button>
    </div>
</div>
<app-footer></app-footer>